# Concepts in Python - loops, functions and returns
Task 1 - While loop

Task 2 - For loop

Task 3 - Loop control statements

Task 4 - Nested loop

Task 5 - Functions

Task 6 - Return statement

## Task 1 - While loop

In [1]:
number = 1
while number<5:
    print(number)
    number = number + 1

1
2
3
4

In [2]:
number = 1
while number<5:
    print(number)
    number+=1

1
2
3
4

In [3]:
counter = 26
while counter>15:
    print(counter)
    counter-=2
    
print('While loop has ended')

26
24
22
20
18
16
While loop has ended

## Task 2 - For loop

In [4]:
cars = ['Audi', 'VW', 'Honda', 'Ford']

for car in cars:
    print(car)

Audi
VW
Honda
Ford

In [5]:
print(cars)
cars

['Audi', 'VW', 'Honda', 'Ford']

['Audi', 'VW', 'Honda', 'Ford']

In [6]:
numbers = [1,2,3,4,5,6]
for number in numbers:
    print(number*2)

2
4
6
8
10
12

In [7]:
numbers = [1,2,3,4,5,6]
for number in numbers:
    print(number)
    if number == 4:
        break
else:
    print('Number was not found')

1
2
3
4

## Task 3 - Loop control statements

In [8]:
numbers = [1,2,3,4,5,6]
for number in numbers:
    print(number)
    if number == 5:
        break
    print('Inside the for loop')
else:
    print('Outside the for loop')

1
Inside the for loop
2
Inside the for loop
3
Inside the for loop
4
Inside the for loop
5

In [9]:
numbers = [1,2,3,4,5,6]
for number in numbers:
    print(number)
    if number == 7:
        break
    print('Inside the for loop')
else:
    print('Outside the for loop')

1
Inside the for loop
2
Inside the for loop
3
Inside the for loop
4
Inside the for loop
5
Inside the for loop
6
Inside the for loop
Outside the for loop

In [10]:
cars = ['Audi', 'VW', 'Jaguar', 'Mini']
for car in cars:
    print(car)
    if car == 'Jaguar':
        break

Audi
VW
Jaguar

In [11]:
cars = ['Audi', 'VW', 'Jaguar', 'Mini']
for car in cars:
    if car == 'Jaguar':
        break
    print(car)

Audi
VW

In [12]:
cars = ['Audi', 'VW', 'Jaguar', 'Mini']
for car in cars:
    if car == 'Jaguar':
        break
    else:
        print(car)

Audi
VW

In [13]:
cars = ['Audi', 'VW', 'Jaguar', 'Mini']
for car in cars:
    if car == 'Jaguar':
        continue
    else:
        print(car)

Audi
VW
Mini

In [14]:
cars = ['Audi', 'VW', 'Jaguar', 'Mini']
for car in cars:
    print(car)
    if car == 'Jaguar':
        continue

Audi
VW
Jaguar
Mini

In [15]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    if number == 6:
        print('Number needs to be skipped')
        continue
    else:
        print(number)

1
2
3
4
5
Number needs to be skipped
7
8
9
10

In [16]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    if number %2:
        pass
    else:
        print(number)

2
4
6
8
10

In [17]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    if number %2==0:
        pass
    else:
        print(number)

1
3
5
7
9

In [18]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    if number %2!=0:
        pass
    else:
        print(number)

2
4
6
8
10

## Task 4 - Nested loop

In [19]:
numbers = [1,2,3]
letters = ['a', 'b', 'c']

for number in numbers:
    print(number)
    for letter in letters:
        print(letter)

1
a
b
c
2
a
b
c
3
a
b
c

In [20]:
numbers = [1,2,3]
letters = ['a', 'b', 'c']

for number in numbers:    
    for letter in letters:
        print(str(number) + ' ' + letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [21]:
numbers = [1,2,3]
letters = ['a', 'b', 'c']

for number in numbers:    
    for letter in letters:
        print(number,letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

## Task 5 - Functions

In [22]:
def print_name(name):
    print('My name: ' + name)
    
print_name('Ciprian')

My name: Ciprian

In [23]:
def print_name(fname, lname):
    print('My name: ' + fname + ' ' + lname)
    
print_name('Ciprian', 'Hancu')

My name: Ciprian Hancu

In [24]:
def about_me(fname, lname, age):
    print('My name: ' + fname + ' ' + lname)
    print('My age: ' + str(age))
    
about_me('Ciprian', 'Hancu', 46)

My name: Ciprian Hancu
My age: 46

In [25]:
def print_name(fname = 'Ciprian'):
    print('My name: ' + fname)
    
print_name()

My name: Ciprian

## Task 6 - Return statement

In [26]:
def multiply(num1, num2):
    return num1*num2

result = multiply(2,3)
print('Result = {}'.format(result))

Result = 6

In [27]:
def multiply(num1, num2):
    return num1*num2

result = multiply(2,3)
result

6

In [28]:
def multiply(num1, num2):
    return num1*num2

print('Result: ' + str(multiply(2,3)))

Result: 6

In [29]:
def greeting(name):
    return print('Hello {}'.format(name))

greeting('Ciprian')

Hello Ciprian

In [30]:
def greeting(name):
    return 'Hello ' + name

result = greeting('Ciprian')
result

'Hello Ciprian'

In [31]:
def about_me():
    name='Ciprian'
    age=46
    children=1
    return(name, age, children)

list_result = about_me()
print(list_result)

('Ciprian', 46, 1)

In [32]:
def about_me():
    name='Ciprian'
    age=46
    children=1
    return(name, age, children)

print(about_me())
about_me()

('Ciprian', 46, 1)

('Ciprian', 46, 1)